.wdauto {width: auto !important;}
.wd10p {width:10px;}
.mgr2p {margin-right:2px; }

.fail{ color : red }
.success { color : #00a65a}

.black-background {background-color:#000000;}
.white {color:#ffffff;}
